@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');;

.App {
  text-align: center;

}

body {
  font-family: 'Nunito','Anek Malayalam', sans-serif;
  background-image: linear-gradient(to left, RGB(218,41,28), white);
  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
}

.question-card {
  max-width: 500px;
  min-width: 250px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  position:relative;
  /* box-shadow: 10px 8px 10px 5px orange; */
  
}


ul {
  list-style: none;
}


.question-text {
  font-size: 15px;
}

.question-card h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.question-card ul {
  margin-top: 20px;
  margin-left: -40px;
}

.question-card ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #b1b1b1;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
  position:relative;
}


.question-card ul .selected-answer {
  background: #ffd6ff;
  border: 1px solid #800080;
}

header h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h3{
  font-size: 20px !important;
  font-weight: 950;
}